<footer style="bottom: 0px; position: absolute; width: 100%;">
    <div class="">
        <p style="margin:3px 0px 3px 0px;" class="pull-right"><span class="lead"><img style="width:160px;" src="/images/posigenlogo.png"></span>
        </p>
    </div>
</footer>