<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>


<div class="jumbotron text-center">
  <div class="container">
    <h1>Getting Started with Node on Heroku</h1>
  </div>
</div>
<div class="container">
  <hr>
</div>


</body>
</html>
