<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>


<div class="jumbotron text-center">
  <div class="container">
    <h1>Upload to Box</h1>
  </div>
</div>
<div class="container">
  <hr>
  <form action="/uploadDocs" method="post">
  <input type="Submit" />
  </form>
</div>


</body>
</html>
