<% include ../partials/headerLogin.ejs %>
<body style="background:#F7F7F7;">
    <div class="">
        <div id="wrapper">
            <div class="form">
                <section class="login_content">
                        <h2 style="float: left;">An email has been send, Please check your inbox.</h2>
                       
                        <div class="clearfix"></div>
                        <div class="separator">
                            <div class="clearfix"></div>
                            <br />
                            <div>
                            	<img style="width: 160px; margin-bottom: 5px;" src="/images/posigenlogo.png"/>
                                <p>©2015 All Rights Reserved. PosiGen.com</p>
                            </div>
                        </div>
                   
                    
                </section>
                <!-- content -->
            </div>
        </div>
    </div>

<% include ../partials/footerLogin.ejs %>